################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/publish/win10-x64/logs
/.vs/TwicDownloader
