################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Bb]in/
[Oo]bj
[Rr]elease
[Pp]ublishProfiles/
[Bb]uild
[Ll]ogs/
[Pp]ublish/
.nuget/
.vs/
*.suo
*.user
*.vspscc
*.log
/publish/win-x64/output.pgn
/publish/win-x64/output.pgi
/publish/win-x64/output.ini
