<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs\internal-nlog.log">
   <extensions>
     <add assembly="NLog.Web.AspNetCore"/>
   </extensions>
  <variable name="basedir" value="${currentdir}" />
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${var:basedir}\logs\nlog-all-${shortdate}.log"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576"
            layout="${longdate:universalTime=true} UTC|${event-properties:item=EventId.Id}|${machinename}|${uppercase:${level}}|${logger}|${message} ${exception}" />
    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="File" name="appevent" fileName="${var:basedir}\logs\AppEvents.log"
        maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576"
        layout="${longdate:universalTime=true} UTC|${event-properties:item=EventId.Id}|${machinename}|${uppercase:${level}}|${logger}|${message} ${exception}" />
    <target xsi:type="File" name="error" fileName="${currentdir}\logs\Error.log"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576"
            layout="${longdate:universalTime=true} UTC|${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}|${event-properties:item=EventId.Id}|${machinename}|${aspnet-SessionId}|${aspnet-user-identity}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="web" fileName="${var:basedir}\logs\TwicDownloader.log"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576"
            layout="${longdate:universalTime=true} UTC|${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}|${event-properties:item=EventId.Id}|${machinename}|${aspnet-SessionId}|${aspnet-user-identity}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
    <!--<target name="database" xsi:type="Database" connectionString="${gdc:item=connectionString}">
      <commandText>
        insert into Logs ([Application],[CreatedDate],[Thread],[LogLevel],[Logger],[Message],[ClientIP],[SessionId],[RequestId],[UserName],[Host])
        values (@application,@log_date, @thread, @level, @logger, @message,@clientIP,@sessionId,@requestId,@username,@hostname);
      </commandText>

      <parameter name="@application" layout="TwicDownload" />
      <parameter name="@log_date" layout="${longdate:universalTime=true}" />
      <parameter name="@thread" layout="${threadid}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}${newline}${exception:tostring}" />
      <parameter name="@clientIP" layout="${aspnet-Request-IP}" />
      <parameter name="@sessionId" layout="${aspnet-SessionId}" />
      <parameter name="@requestId" layout="${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}" />
      <parameter name="@username" layout="${aspnet-user-identity}" />
      <parameter name="@hostname" layout="${machinename}" />
    </target>
      <target name="authentication" xsi:type="Database" connectionString="${gdc:item=connectionString}">
      <commandText>
        insert into AuthenticationAudits ([Id],[Application],[UserName],[CreatedDate],[Activity],[Detail],[ClientIP])
        values (@id,@application,@username,@log_date, @activity, @message,@clientIP);
      </commandText>
      <parameter name="@id" layout="${guid}" />
      <parameter name="@application" layout="WebFramework" />
      <parameter name="@username" layout="${event-properties:UserName}" />
      <parameter name="@log_date" layout="${longdate:universalTime=true}" />
      <parameter name="@activity" layout="${event-properties:Activity}" />
      <parameter name="@message" layout="${message}${newline}${exception:tostring}" />
      <parameter name="@clientIP" layout="${aspnet-Request-IP}" />
    </target>-->
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <logger name="*" ruleName="*" minlevel="Error" writeTo="error,database" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" ruleName="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="web" final="true"/>
    <logger name="Microsoft.*" ruleName="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"/>
    <logger name ="*.Startup" ruleName ="*.Startup" minlevel="Info" writeTo="appevent" final="true"/>
    <!--<logger name ="*.AccountController" ruleName ="*.AccountController" minlevel="Info" writeTo="authentication" final="true"/>-->
    <logger name="*" ruleName="*" minlevel="Info" writeTo="web" />
  </rules>
</nlog>